
p {
    background-color: white ;
}
.intro {
    background-color: yellow;
  }  
ol {
    color: white;
}
body {
    color: black;
    background-color: white;
    width: 1000px; 
}
h1 {
    text-align: center;
}

ol {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    display: inline-block;
    width: 21%;
    background-color: blue;
    color: white;
    margin: 0px;
    padding: 10px;
}
div1{

    background-color: white;
}

a.menu {
    color: cyan;
    background-color: thistle;
}

li:hover {
    background-color: orchid;
}

