
h1 {
    text-align: center;
}
.menu {
    color: cyan;
    background-color: thistle;
}
p{
    background-color: white ;
    text-align: center
}
.intro {
    background-color: yellow;
    color: white;
  }  
ol{
    color: white;
}
body {
    color: black;
    background-color: white;
    width: 1000px; 
}

ol{
    padding: 0px;
    margin: 0px;
}

li{
    list-style-type: none;
    display: inline-block;
    width: 21%;
    background-color: white;
    color: white;
    margin: 0px;
    padding: 10px;
}
div1{

    background-color: white;
}
li:hover{
    background-color: orchid;
}

