p {
    background-color: white ;
}
ol {
    color: palevioletred;
}

body {
    color: palevioletred;
    background-color: whitesmoke;
    width: 1000px; /* many units for width */
}
h1 {
    text-align: center;
}

ol {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
    display: inline-block;
    width: 21%;
    background-color: blue;
    color: white;
    margin: 0px;
    padding: 10px;
}
div1{

    background-color: white;
}

a.menu {
    color: cyan;
}

li:hover {
    background-color: orchid;
}


/*
class/id attributes to set properties of only certain tags
this is a comment and is ignored
*/
